body{

font-family:Arial;
background:#111;
color:white;
text-align:center;

}

.panel{

background:#1f1f1f;
margin:20px;
padding:20px;
border-radius:10px;

}

button{

padding:10px 20px;
border:none;
border-radius:6px;
background:#9146ff;
color:white;
cursor:pointer;

}

pre{

background:black;
padding:15px;
overflow:auto;

}
